<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles2.css" rel="stylesheet" type="text/css">
    <title>Transaction Page</title>
</head>

<body>
    <section id="home">
        <div class="navbar">
            <div class="container1 flex">
                <h1 class="logo">The Bank</h1>
                <nav>
                    <ul>
                        <li><a href="/api/user">Home</a> </li>
                        <li> <a id="view" href="/api/view">View Transactions</a> </li>
                        <li> <a id="download" href="/api/user/download">Download Transactions</a> </li>
                        <li> <a id="change" href="/api/update">Change Profile</a> </li>
                        <li><a id="close" href="/api/close">Close Account</a></li>
                        <li><a id="logout" href="/api/user/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container3">
            <form action="/api/user/transaction" method="post">
                <h1>Make a Transaction</h1>
                <input type="text" name="id" placeholder="enter the id">
                <input type="amount" name="amount" placeholder="enter the amount">
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
    
</body>

</html>