<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles2.css" rel="stylesheet" type="text/css">
    <title>View Page</title>
</head>

<body>
    <section id="home">
        <div class="navbar">
            <div class="container1 flex">
                <h1 class="logo">The Bank</h1>
                <nav>
                    <ul>
                        <li><a href="/api/user">Home</a> </li>
                        <li> <a id="download" href="/api/transaction">Make Transactions</a> </li>
                        <li> <a id="view" href="/api/download">Download Transactions</a> </li>
                        <li> <a id="change" href="/api/update">Change Profile</a> </li>
                        <li><a id="close" href="/api/close">Close Account</a></li>
                        <li><a id="logout" href="/api/user/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container41">
            <ul>
                <li> <a href="/api/user/view/30">Last 1 Month</a> </li>
                <li> <a href="/api/user/view/60">Last 2 Months</a> </li>
            </ul>
        </div>
    </section>
    
</body>

</html>