body{
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

.container{
    text-align: center;
    background-color: black;
    color: white;
    width:70%;
    height:auto;
    margin:0 auto;
}

td,th{
    padding:20px;
    text-align: center;
}

th{
    text-transform: uppercase;
    background-color: aqua;
    color:rebeccapurple;
}

.container5{
    color:aliceblue;
}

.container5>div>a{
    text-decoration: none;
    color:beige;
}
