body {
    background-color: #B1B2FF;
}

.container {
    margin: 0 auto;
    width: 40%;
    height: auto;
    padding: 20px;
    background-color: #182C61;
    position: relative;
    top: 15vh;
    color: #F8EFBA;
    border-radius: 15px;
}

.container>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a {
    padding: 5px;
    text-decoration: none;
    color: rgb(227, 253, 249);
}

input{
    border-radius: 5px;
    word-wrap: break-word;
}

button{
    background-color: darkred;
    border-radius: 5px;
    color:white;
    font-size: medium;
}

.two{
    margin: 0 auto;
    width: 40%;
    height: auto;
    padding-bottom: 20px;
    background-color: #182C61;
    position: relative;
    top: 27vh;
    color: #F8EFBA;
    border-radius: 15px;
}